.NavbarSection {
    .navColor {
        background-color: grey;

        a {
            color: white;
        }

        ul {
            li {
                display: flex;

                .light {
                    height: 25px;
                    width: 25px;
                    background-color: white;
                    border-radius: 3px;
                    margin-right: 10px;
                    cursor: pointer;
                }

                .dark {
                    height: 25px;
                    width: 25px;
                    background-color: black;
                    border-radius: 3px;
                    cursor: pointer;
                }
            }
        }

    }

}